<div class="col-md-5 map-address">

  <div class="row" id="map-container">
    <div id="map-canvas"></div>
  </div>

  <div class="row business-location-info" >  
    <div class="business-address col-md-5" id="address">
      <h4><%= @promotion.user.address %></h4>
      <h4><%= @promotion.user.city %></h4>
      <h4><%= @promotion.user.postcode %></h4>
    </div>
    <div class="walking-time-distance col-md-5">
      <h4 class="distance"><i class="fa fa-street-view "></i></h4>
      <h4 class="duration"><i class="fa fa-clock-o "></i></h4> 
    </div>
  </div>
</div>  

<div class="col-md-5" style="margin: 0px">
  <div class="row stripe" style=" margin-left: 0;margin-right: -30px">
    <% if @promotion.is_active? %>
      <% if user_signed_in? %>
        <div class="stripe-form col-md-12" style="margin: 15px 0 15px 0">
          <center><%= render "charges/stripe_form", promotion: @promotion %></center>
        </div>
      <% else %>
        <div class="stripe-form col-md-12" style="margin: 15px 0 15px 0">
          <h4 style="margin-top: 0px; margin-bottom: 0px;"><center>Please <button type="button" class="btn btn-default navbar-btn"data-target="#sign_in" data-toggle="modal" style="margin-top: 0px">Sign In </button> or <button type="button" class="btn btn-default navbar-btn"data-target="#sign_up_customer" data-toggle="modal" type="button" style="margin-top: 0px">Sign Up </button> to purchase.<center></h4>
        </div>
      <% end %>
    <% else %>
      <div class="stripe-form col-md-12" style="margin: 15px 0 15px 0">
        <h1>This deal has now ended.</h1>
      </div>
    <% end %>
  </div>
</div>



<div class="col-md-5" style="margin: 0px">
  <div class="row" style="margin: 0px -30px 10px 0; background: white; padding: 10px">

    <h4><center>Share</center></h4>

    <a href="http://twitter.com/home?status=@getluch Cant wait to get stuck into - <%= @promotion.pitch %>!! from @<%=@promotion.user.name %>" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>

    <a href="https://www.facebook.com/sharer/sharer.php?u=@getluch Cant wait to luck into <%= @promotion.pitch %>!! #getluch" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>

    <a href="https://plus.google.com/share?url=@getluch Cant wait to luck into <%= @promotion.pitch %>!! #getluch" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i> Google+</a>

    <a href="mailto:?subject=Look%20what%20I%20just%20got%20for%20lunch!!&body=<%= @promotion.pitch %>" title="Share on Email" class="btn btn-email"><i class="fa fa-envelope-o"></i> Email</a>
  </div>
</div>

